<div id="header">
  <div id="menu">
    <ul id="navigation-top">
      <li class="first episodes"><a href="<mt:Var name='oneocean_base_url'>/series/episodes"><span class="title">The Series</span> Watch the episodes, meet the experts, and more&hellip;</a></li>
      <li class="biosphere"><a href="<mt:Var name='oneocean_base_url'>/biosphere"><span class="title">The Biosphere</span> Play games in your own undersea habitat</a></li>
      <li class="pledge"><a href="<mt:Var name='oneocean_base_url'>/pledge"><span class="title">The Pledge</span> Learn how to help save the ocean</a></li>
      <li class="ocean-explorer"><a href="<mt:Var name='oneocean_base_url'>/ocean_explorer"><span class="title">Ocean Explorer</span> Take a guided tour of the ocean</a></li>
      <li class="time-machine"><a href="<mt:Var name='oneocean_base_url'>/time_machine"><span class="title">Time Machine</span> History of the ocean, its creatures and explorers</a></li>
      <li class="cbc-learning"><a href="http://www.cbclearning.ca/oneocean" rel="external"><span class="title">For Teachers</span> Buy DVDs and Teacher"s Guide</a></li>
      <li class="last points" id="points">
        <div class="points-outer">
          <p class="points-inner"><a href="<mt:Var name='oneocean_base_url'>/biosphere" id="current-points"><span class="title">Your Eco-Points</span><span class="points">0</span></a></p>
          <p class="login">
            <a href="<mt:Var name='oneocean_base_url'>/login">Log in</a>
            <a href="<mt:Var name='oneocean_base_url'>/login">Sign Up</a>
          </p>
        </div>
      </li>
    </ul>
  </div>
  <h1 id="logo"><a href="<mt:Var name='oneocean_base_url'>/">One Ocean</a></h1>
  <div id="tnot-w-ds"><a href="http://www.cbc.ca/documentaries/natureofthings"><span id="tnot-w-ds-inner">The Nature of Things with David Suzuki</span></a></div>
</div>
