<div class="feature-box feature-coming-soon">
  <div class="feature">
    <div class="feature-image"><img alt="" src="<mt:BlogUrl>/pictures/pic-sarika.jpg" /></div>
    <div class="feature-description-wrapper">
      <div class="feature-description-inner">
        <div class="feature-description">
          <h3 class="replace sarika">Sarika Cullis-Suzuki</h3>
          <p>Sarika shares a Canadian perspective on the global issues facing the ocean.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<p>The One Ocean Blog discusses current issues facing our global ocean, and strives to inject a sense of urgency to all Canadians. With the longest coastline in the world, Canada is an ocean nation. The choices we make around the country, both inland and on the coast, urban and rural, can make a difference to the health of the ocean.</p>

