<div id="global-foot">
  <div id="global-foot-inner">
    <div id="credits">
      <ul>
        <li><a href="http://tactica.ca/" target="_blank"><img alt="Tactica Interactive Communications" src="<mt:Var name='oneocean_base_url'>/images/footer/logo-tactica.gif" /></a></li>
        <li><a href="http://www.meritmotionpictures.com/" target="_blank"><img alt="Merit Motion Pictures" src="<mt:Var name='oneocean_base_url'>/images/footer/logo-merit-motion-pictures.gif" /></a></li>
        <li><a href="http://www.cbc.ca/" target="_blank"><img alt="CBC" src="<mt:Var name='oneocean_base_url'>/images/footer/logo-cbc.gif" /></a></li>
        <li><a href="http://www.cbc.ca/documentaries/natureofthings" target="_blank"><img alt="The Nature of Things with David Suzuki" src="<mt:Var name='oneocean_base_url'>/images/footer/logo-the-nature-of-things.gif" /></a></li>
        <li><a href="http://www.ipf.ca/Bell/English/BellFund.html" target="_blank"><img alt="Bell Fund" src="<mt:Var name='oneocean_base_url'>/images/footer/logo-bell-fund.gif" /></a></li>
        <li><a href="http://www.ctf-fct.ca/" target="_blank"><img alt="Canadian Television Fund - Fonds candien de t&eacute;l&eacute;vision" src="<mt:Var name='oneocean_base_url'>/images/footer/logo-canadian-television-fund.gif" /></a></li>
        <li class="last"><a href="http://www.gov.mb.ca/stem/knowledge/idm_fund.html" target="_blank"><img alt="The Government Of Manitoba - Manitoba Interactive Digital Media Tax Credit" src="<mt:Var name='oneocean_base_url'>/images/footer/logo-manitoa-interactive-digital-media-tax-credit.gif" /></a></li>
      </ul>
    </div>
    <iframe frameborder="0" scrolling="no" src="http://www.cbc.ca/includes/footer/ext.html" style="height:300px;width:100%"></iframe>
  </div>
</div>

