<div class="common-box blog">
  <div class="common-box-top"></div>
  <div class="common-box-content"><mt:WidgetSet name="One Ocean" /></div>
  <div class="common-box-bottom"></div>
</div>
<div class="common-box menu-the-series">
  <div class="common-box-top"></div>
    <div class="common-box-content">
      <ul>
        <li><a href="<mt:Var name='oneocean_base_url'>/series/episodes">The Series &amp; Episodes</a></li>
        <li><a href="<mt:Var name='oneocean_base_url'>/series/experts">Meet the Experts</a></li>
        <li><a href="<mt:Var name='oneocean_base_url'>/series/sealife">Meet the Sealife</a></li>
        <li><a href="<mt:Var name='oneocean_base_url'>/series/video_extras">Video Extras &amp; Podcasts</a></li>
        <li><a href="<mt:Var name='oneocean_base_url'>/series/audio_extras">Audio Extras &amp; Podcasts</a></li>
        <li><a href="<mt:Var name='oneocean_base_url'>/series/galleries">Image Galleries</a></li>
        <li><a class="active" href="<mt:BlogUrl>">The Blog</a></li>
        <li><a href="<mt:Var name='oneocean_base_url'>/series/credits">Credits</a></li>
      </ul>
    </div>
  <div class="common-box-bottom"></div>
</div>
<div class="common-box find-one-ocean-on">
  <div class="common-box-top"></div>
  <div class="common-box-content">
    <div class="social-wrap">
      <ul>
        <li><a rel="external" href="http://twitter.com/oneoceanonline" class="twitter">twitter</a></li>
        <li><a rel="external" href="http://www.flickr.com/photos/43349236@N04" class="flickr">flickr</a></li>
      </ul>
    </div>
  </div>
  <div class="common-box-bottom"></div>
</div>
