<mt:IfArchiveTypeEnabled archive_type="Category">
  <mt:If tag="TopLevelCategories">
    <div class="widget widget-archive widget-archive-category">
      <h3>Categories</h3>
      <mt:TopLevelCategories>
        <mt:SubCatIsFirst><ul></mt:SubCatIsFirst>
        <mt:If tag="CategoryCount">
          <li><a href="<mt:CategoryArchiveLink>" title="<mt:CategoryDescription remove_html='1' encode_html='1'>"><mt:CategoryLabel />(<mt:CategoryCount />)</a>
        <mt:Else>
          <li><mt:CategoryLabel />
        </mt:If>
        <mt:SubCatsRecurse />
        </li>
        <mt:SubCatIsLast></ul></mt:SubCatIsLast>
      </mt:TopLevelCategories>
     </div>
  </mt:If>
</mt:IfArchiveTypeEnabled>

